/*Para identificar um id eu utilizo "#" e para identificar uma classe eu utilizo "."*/
/*Sempre prestar atencao nas classes e nos id's utilizados (nomes etc)*/
/*Tambem temos as margin,border,padding,content (representados de fora para dentro no modelbox do HTML), todas podem ser alteradas*/

body {
    background-color:grey;
    max-width: 900px;
    margin: auto;;
}

.post {
    background-color: white;
    padding: 8px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#titulo {
    margin: 0px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-align: center;
}

#titulo, .titulo-postagem {
    color: black;
    font-style: italic;
}

.subtitulo {
    color: black;
    font-size: 24px;
    font-style: oblique;
}

.titulo-art {
    color: black;
    border: 3px, solid black;
}

.paragrafo {
    color: black;
    font-style: italic;
}

.rodape {
    font-style: italic;
    color: white;
    font-weight: bolder;
    padding-left: 15px;
    background-color: black;
    border: 3px dashed white;
    margin: 0px;
    border-radius: 10px;
    margin-top: 5px;
}

.foto_deus, .foto_curti, .foto_capa{
    background-color: black;
    padding: 10px;
    margin: 0px;
    margin-bottom: 3px;
}

.descrip {
    font-size: 16px;
}

.foto_capa {
    border: 3px solid black;
    border-radius: 90px;
}

.contact_list {
    list-style-type: none;
    padding-left: 0px;
}
